---
import CodeStack from "../components/codeStack";
import Base from "../layouts/base.astro";

const pageTitle = "PyPost - Stack"
const header = "PyPost"
---

<Base pageTitle={pageTitle} header={header}>
    <div>
        <CodeStack client:load />
    </div>
</Base>