html { width: 100%; }

:root{
    font-weight: 500;
    font-size: larger;
    font-family: 'Monospace';
    text-rendering: optimizeLegibility;

    --pc: rgb(27, 27, 27);
    --sc: rgb(70, 70, 70);
    --tc: whitesmoke;
}

body{
    background-color: var(--pc);
    color: var(--tc);
}

.form-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    display: block;
    background-color: var(--sc);
    color: var(--tc);
    margin: 0 0 1rem 0;
    height: 20px;
}

textarea{
    display: block;
    background-color: var(--sc);
    color: var(--tc);
    margin: 1rem 0;
    width: 400px;
    height: 300px;
}

.submit-btn{
    background-color: var(--sc);
    color: var(--tc);
    width: 100px;
    height: auto;
    margin: 0;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: var(--tc);
    color: var(--pc);
}

/*submissions*/

.submissions{
    margin: 3rem auto;
    padding: .5rem;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    width: 500px;
    height: auto;
}

.submissions p{
    margin-left:2.2rem;
}

.submissions button{
    float: right;
    border: none;
    margin-right: 2rem;
    font-size: large;
    background-color: var(--pc);
    color: var(--tc);
}

.submissions button:hover{
    cursor: pointer;
    background-color: var(--sc);
    border-radius: 25px;
}

.submissions textarea{
    margin: 1rem auto;
    width: 400px;
    height: auto;
}

.text-center{
    text-align: center;
}